table {
    float : right;
    vertical-align: middle;
    border-spacing: 5px;
    width: 25%;
    padding-left : 2%;
    padding-right : 1%; 
    padding-top: 1%;
    border-left: 2px solid grey;
}
#title {
    background-color: #D8DEE9;
}

header {
    padding-bottom: 1%;
}

tr:nth-child(odd) {
    background-color: #D8DEE9;
}
  
tr:nth-child(even) {
    background-color: #ECEFF4;
}
th, td {
    padding: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E3440;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #3B4252;
}

#active {
    background-color : #4C566A;
}
body {
    padding : 0px;
    margin : 0px;
    
} 

html {
    font-family: Garamond;
    background-color: #ECEFF4;
}
.hyperlinks{
    display: none;
}
p {
    margin: 10px;
}

.collapsible {
    background-color: #2E3440;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 10px;
}

.content {
    padding: 0 18px;
    background-color : #E5E9F0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

.active, .collapsible:hover {
    background-color: #4C566A;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .collapsibleset{
    width : 70%;
  }

*{
    font-size: large;
}