table {
    float : right;
    vertical-align: middle;
    border-spacing: 5px;
    width: 25%;
    padding-left : 2%;
    padding-right : 1%; 
    padding-top: 1%;
    border-left: 2px solid grey;
}
#title {
    background-color: #D8DEE9;
}

tr:nth-child(odd) {
    background-color: #D8DEE9;
}
  
tr:nth-child(even) {
    background-color: #ECEFF4;
}
th, td {
    padding: 8px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E3440;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #3B4252;
}

#active {
    background-color : #4C566A;
}
body {
    padding : 0px;
    margin : 0px;
    
} 

html {
    font-family: Garamond;
}
.hyperlinks{
    display: none;
}
p {
    margin: 10px;
}