ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E3440;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #3B4252;
}

#active {
    background-color : #4C566A;
}

body {
    padding : 0px;
    margin : 0px;
} 

html {
    font-family: Garamond;
    background-color: #ECEFF4;
}

.hyperlinks{
    display: none;
}
p {
    margin: 10px;
}
h1, h2{
    margin :10px;
    padding-top: 10px;
}
*{
    font-size: large;
}
